mixin Exercise({name, bgColor, iconSrc, exerciseIconMarkingClass})
  .exercise(style=`background: ${bgColor}; background-image=url(${iconSrc})`)
    .exercise__icon-wrapper(class=exerciseIconMarkingClass)
      img(src=iconSrc, alt="exercise_icon" class="exercise__icon")
    .exercise__description
      span(class="exercise__name") !{name}