mixin Exercise({name, bgColor, iconSrc})
  .exercise(style=`background: ${bgColor}; background-image=url(${iconSrc})`)
    .exercise_icon-wrapper
      img(src=iconSrc, alt="exercise_icon" class="exercise_icon")
    .exercise__description
      span(class="exercise__name") !{name}